@page
@using Constants
@model AboutModel
@{
    ViewData[ViewDataKeys.Title] = "About";
}
<h2>@ViewData[ViewDataKeys.Title]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
