@page
@using Constants
@model RazorPagesMovie.Pages.AboutModel
@{
    ViewData[ViewDataKeys.TITLE] = "About";
}
<h2>@ViewData[ViewDataKeys.TITLE]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
