@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    1234 Awesome Ln<br />
    Lacey, WA 98516<br />
    <abbr title="Phone">P:</abbr>
    425.867.5309
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@yopmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@yopmail.com</a>
</address>
